* {
    font-family: 'Franklin Gothic Book', sans-serif;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Book', sans-serif;
}

header {
    overflow: hidden;
    border: 10px solid #005883;
    width: 100%;
}

.logo-div {
    padding-top: 5%;
    padding-left: 5% !important;
}

#logo {
    float: left;
    clear: left;
    /* margin-left: 200px;
    margin-top: 50px;
    vertical-align: top; */
}

.acceso-div {
    padding-right: 5% !important;
}

#acceso {
    float: right;
    clear: right;

    width: 220px;
    height: 210px;
    vertical-align: top;

    font-size: 1.1em;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}

#acceso:hover {
    width: 240px;
    height: 230px;
    transition: .3s;
}



.menu2 {
    width: 100%;
    list-style: none;
    background-color: #005883;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    height: 60px;
}

.menu2 li {

    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: bottom;
}
.submenu{
    z-index:99;
}

.menu2 li ul {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    display: none;
    overflow: hidden;
    background-color: #005883;

}

.menu2 li ul li {

    display: block;
    margin: 0px;
    padding: 5px;


}



.menu2 li:hover>ul {

    display: block;

}

.menu2 li:hover {

    background-color: rgb(231, 178, 0);

}

.menu2 li:hover a {

    color: white;


}

.menu2 li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-size: 16px;
}

.objetivos {
}

.aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}

.especificos {
    display: inline-block;
    padding: 10px;
    text-align: justify;
}

.objetivos article h2 {
    text-align: center;
}

.principal {
    text-align: justify;
}

.intro {
    text-align: justify;
}

footer {

    background-color: #005883;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    margin: 0;
    margin-top: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Italy', sans-serif;
}
